pip install pandas,
pip install prophet,
pip install questionary,
pip install fire,
pip install matplotlib,
pip install datetime,
pip install alpaca_trade_api,
pip install numpy,
pip install python-dotenv,
pip install pandas_ta,
pip install streamlit
