python -m pip install -r pandas,
python -m pip install -r prophet,
python -m pip install -r questionary,
python -m pip install -r fire,
python -m pip install -r matplotlib,
python -m pip install -r datetime,
python -m pip install -r alpaca_trade_api,
python -m pip install -r numpy,
python -m pip install -r python-dotenv,
python -m pip install -r pandas_ta,
python -m pip install -r streamlit
